# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env (секрети)
.env

# Logs
*.log

# Django
media/

# Docker volumes
postgres_data/
redis_data/
*.pid
*.sock

# Databases
*.sqlite3
celerybeat-schedule

# Tests
*.coverage
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
